.card-container {
    display: flex;
    gap: 16px; /* Espacio entre los elementos */
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .card-container.row {
    flex-direction: row;
  }
  
  .card-container.column {
    flex-direction: column;
  }
  